

@keyframes fadeIn {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}
@keyframes slideUp {
  0% {
    transform: translateY(0);
    z-index:60;
  }

  100% {
    transform: translateY(-1000px);
    z-index: 0;
  }
}
@keyframes slideDown {
  0% {
    transform: translateY(-1000px);
  }

  100% {
    transform: translateY(0);
  }
}
@keyframes slideRight {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
