/** Box Model  */
$spacer: 2rem;

/** Stonewall Brand Colors */

$brand-primary: #2769ae;
$linear-blue: #5595d6;
$linear-pink: #d655c5;

$stonewall-red: #e82c2a;
$rollover-red: #c72322;

$stonewall-green: #1faa96;
$rollover-green: #149280;

$stonewall-grey: #27282a;

$mid-grey: #b9bbc1;
$light-grey: #eee;


$black: #000;
$white: #fff;



$primary: #3F51B5;
$dark-primary: #303F9F;
$light-primary: #C5CAE9;
$text: #FFFFFF;
$primary-text: #212121;
$secondary-text: #757575;
$accent: #FF4081;


@lost flexbox flex;
@lost rounder 100;
